@model IEnumerable<FindADev.ASP.Models.KnowledgeModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @foreach (var titem in item.Titles)
                {
                    <p>@titem.Title <span class="badge badge-secondary">@titem.Score/10</span></p>
                }
                @Html.ActionLink("Create titles","Create","KnowledgeInfo", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("See profile", "Details", "Profile", new { id = item.ProfileId })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
